* {
    margin: 0 0;
}
html {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.container {
    max-width: 1366px;
    margin: 0 auto;
}
.contacts-container {
    max-width: 940px;
    margin: 0 auto;
}
.header {
    width: 100%;
    height: 768px;
    background-image: url(img/Rectangle.png);
    color: #1F3F68;
}
.main-menu {
    display: flex;
    justify-content: space-between;
    padding: 0 113px;
}
.menu-img-1 {
    margin-top: 42px;
}
.menu-img-2 {
    margin-top: 42px;
}
.header-table {
    display: flex;
    justify-content: space-between;
}
.image-block {
    align-self: right;
    margin-top: 81.84px;
    margin-right: 87.17px;

}
.header-main-text {
    width: 514px;
    margin-top: 115px;
    margin-left: 113px;
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
}
.header-text {
    width: 425px;
    margin-top: 32px;
    margin-left: 114px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.05em;
}
.button-see-our-project {
    padding-left: 114px;
    padding-top: 71px;
}
.button-header {
    width: 220px;
    height: 56px;
    background-color: #5A98D0;
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    box-shadow: 5px 10px 20px;
    border-radius: 10px;
}

.body-text {
    margin-top: 64px;
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
}
.body-text-small {
    margin: 0 auto;
    width: 750px;
    margin-top: 32px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #222222;
}
.card-block {
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
.card {
    margin: 0 16px;
    width: 359px;
    height: 480.13px;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    text-align: center;
    color: #1F3F68;
}
.card-image {
    margin-top: 10px;}
.card2 {
   background-image: url(img/card2_image2.png);
   background-repeat: no-repeat;
   background-position: top center;
}
.card-main-text {
    text-align: left;
    padding-top: 51px;
    padding-left: 32px;
    padding-right: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    }
.card-text {
    text-align: left;
    padding-top: 15px;
    padding-left: 32px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
}
.card-link-learn-more {
    padding-left: 32px;
    padding-bottom: 44.13px;
    text-align: left ;
}
.finished-card-main {
    margin: 0 auto;
    margin-top: 64px;
    position: center;
    width: 1140px;
    height: 480px;
    background-image: url(img/SmartHomeInstallation.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
}
.finished-text-32 {
color: #fff;
padding-top: 64px;
padding-right: 64px;
font-size: 32px;
line-height: 46px;
text-align: right;
letter-spacing: 0.05em;
}
.finished-cards-other {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.other-card {
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 32px;
    padding-top: 32px;
    padding-left: 32px;
    width: 554px;
    height: 417px;
    border-radius: 10;
    font-weight: 400;
    font-size: 28px;
    line-height: 46px;
    color: #fff;
}
.other-1 {
background-image: url(img/SparkLiteApp.jpg);
margin-right: 32px;
}
.other-2 {
background-image: url(img/Car-RapeitionApp.jpg);
}
.bigfooter {
    background-color: #316099;
    color: #fff;
}
.footer-main {
    display: flex;
    justify-content: space-between;
}
.footer-maintext {
font-size: 36px;
font-weight: 400;
line-height: 46px;
width: 341px;
padding-top: 91px;
margin-left: 113px;
}
.footer-small-text {
    width: 495px;
    margin-top: 32px;
    margin-left: 113px;
    padding-bottom: 96px;
    font-style: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    opacity: 0.6;
}
.footer-button {
    width: 236.63px;
    height: 56px;
    margin-top: 165px;
    margin-right: 115px;
    background-color: #5A98D0;
    color: #fff;
    font-weight: 400;
    font-style: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    border-color: inherit;
}
.contact-list {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 113px;
    padding-right: 113px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
}
.contact {
    margin-right: 32px;
    width: 316px;
    letter-spacing: 0.05em;
    font-weight: 400;
}
.pre-contact {
        width: 23px;
}
.copyright {
    padding-left: 113px;
    padding-bottom: 64px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    opacity: 0.4;
}
.contact-us-header {
    height: 471px;
    background-image: url(img/contacts_header_bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
    text-align: center;
    color: #fff;
}
.contact-us-main-text {
    margin-top: 5%;
    font-weight: 500;
    font-size: 44px;
    font-weight: 500;
    line-height: 74px;
    letter-spacing: 0.04em;
}
.contact-us-text {
    margin: 0 auto;
    max-width: 780px;
    margin-top: 16px;
}
.main-contact-block {
    display: flex;
    justify-content: space-around;
    color: #1F3F68;
}
.contact-info {
    width: 540px;
    }
    .phone-number {
        font-size: 16px;
        font-weight: 300;
        line-height: 26px;
        list-style-image: url(img/phone.png);
    }
    .www-link {
        font-size: 16px;
        font-weight: 300;
        line-height: 26px;
        list-style-image: url(img/www.svg);
    }
    .email-link {
        font-size: 16px;
        font-weight: 300;
        line-height: 26px;
        list-style-image: url(img/mail.svg);
    }
.contact-form {
    width: 540px;
    height: 800px;
    padding: 56px 56px;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}
h3 {
    margin-top: 56px;
    margin-bottom: 24px;
    font-style: 20px;
    line-height: 30px;
    font-weight: 500;
    letter-spacing: 0.04em;
}
h5 {
    font-style: 16px;
    line-height: 30px;
    padding-top: 32px;
}
.input-area {
    padding-left: 42px;
    padding-top: 21px;
    padding-bottom: 21px;
    border: 1px solid #356EAD;
    border-radius: 10px;
}
.submit-button {
    margin-top: 72px;
    width: 428px;
    height: 72px;
    background-color:#5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
}
.map-block {
    display: flex;
    margin-top: 96px;
    margin-bottom: 96px;
    justify-content: center;
}
