* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'roboto', sans-serif;
}

/* Параметры шрифтов для заголовков и абзацев */
.top__heading {
    width: 510px;
    font-size: 54px;
    color: #1f3f68;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
}

.top__text {
    width: 425px;
}

.text {
    font-size: 16px;
    line-height: 26px;
    color: #1f3f68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.heading {
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.05em
}

.heading-mini {
    font-size: 20px;
    line-height: 30px;
    color: #1f3f68;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}

.card__link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5a98d0;
    text-decoration: none;
}

.text_project {
    width: 75%;
    margin: 32px auto 64px;
    text-align: center;
    color: #222;
    opacity: 1;
}

.project__text {
    font-size: 32px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
}

.project__text2 {
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 32px;
    left: 32px;
}

.footer-heading {
    width: 340px;
    margin-bottom: 32px;
    font-size: 36px;
    line-height: 46px;
    text-align: left;
    font-weight: 300;
    letter-spacing: 0.05em
}

.footer-text-mini {
    font-weight: 400;
    width: 495px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

/* Конец описаний шрифтов для заголовков и абзацев */

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 113px
}

.top {
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.header {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-top: 42px;
}

.top__box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top__info {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(../img/illustration.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.top__button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #fff;
    background: #5a98d0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0, 2);
    border-radius: 10px;
    padding: 15px 50px;
    display: inline-block;
    margin-top: 71px;
    text-decoration: none;
}

.what-we-do {
    padding-top: 64px;
}

.card-box {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}

.card__img {
    align-self: center;
    margin-bottom: 51px;
}

.card {
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.card2 {
    background-image: url(../img/card2_bg.png);
    background-repeat: no-repeat;
    background-position: center top;
}


.project__img {
    width: 100%;
}

.project__parent {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.project__item {
    position: relative;
    flex-grow: 1;
}

.project2 {
    margin-right: 32px;
}

.footer {
    margin-top: 112px;
    padding-top: 91px;
    padding-bottom: 64px;
    background-color: #316099;
    color: #fff;
    text-align: left;

}

.footer-top {
    padding-bottom: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    padding: 15px 80px;
    background-color: #5a98d0;
    text-decoration: none;
}

hr {
    opacity: 0.4;
}

.footer__info {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
}

.footer__list {
    margin-right: 32px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    flex-grow: 1;
    flex-basis: 33.3333%;
    list-style-type: none;
}

.copyright {
    margin-top: 64px;
    opacity: 0.4;
}

/* Адаптив под планшет 1024px- */
@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .top__info {
        background-size: 50%;
    }

    .card-box {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 335px;
        margin-bottom: 32px;
    }

    .project__text2 {
        top: 19px;
        left: 19px;
    }

    .footer-top {
        padding-left: 124px;
        padding-right: 124px;
    }

    .footer__info {
        flex-direction: column;
        justify-content: space-between;
    }

    .footer__list {
        padding-bottom: 25px;
        margin-right: 0;
    }

    .footer-heading {
        width: 336px;
    }

    .footer-text-mini {
        width: 336px;
    }

    .footer__info {
        padding-left: 124px;
        padding-right: 124px;
    }

    .footer-button {
        width: 133px;
        height: 32px;
        line-height: 26px;
    }

    .copyright {
        margin-left: 124px;
        margin-top: 39px;
    }
}

/* Адаптив чисто под футер для планшета менее 817px */
@media (max-width: 817px) {

    .footer-heading {
        text-align: center;
    }

    .footer-top {
        margin: 0 auto;
        text-align: center;
        flex-direction: column;
    }

    .footer-text-mini {
        padding-bottom: 40px;
    }

    .footer-button {
        line-height: 26px;
        margin-bottom: 40px;
    }
}

/* Адаптив под смартфон 667px- */
@media (max-width: 667px) {

    .container {
        padding: 0 16px;
    }

    .header {
        padding-top: 24px;
    }

    .top {
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }

    .top__info {
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }

    .top__heading {
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
        text-align: center;
        width: 100%;
    }

    .top__text {
        width: 100%;
        text-align: center;
    }

    .card-box {
        flex-wrap: wrap;
        padding-top: 32px;
    }

    .card {
        width: 100%;
    }

    .top__button {
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
    }

    .heading {
        font-size: 24px;
        line-height: 28px;
    }

    .what-we-do {
        padding-top: 48px;
    }

    .text_project {
        width: 100%;
        padding-bottom: 82px;
    }

    .project__text {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }

    .project__parent {
        flex-direction: column;
        margin-top: 16px;
    }

    .project__text2 {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        left: 16px;
    }

    .project2 {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .footer {
        margin-top: 64px;
    }

    .footer-heading {
        font-size: 24px;
        line-height: 28px;
    }

    .footer-button {
        width: 108px;
    }

    .footer__list {
        padding-left: 23px;
        font-size: 16px;
        line-height: 19px;
        list-style-type: decimal;
    }

    .footer__info {
        padding-left: 16px;
        padding-right: 0;
    }

    .copyright {
        margin: 0 auto;
    }
}